.btn {
  margin-top: 3rem;
}

.col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 3rem;
}

.div {
  text-align: start;

  > strong {
    color: grey;
  }
}

.title {
  margin-bottom: 1rem;
}
